body {
    --bg: hsl(0 0% 10%);
    --fg: hsl(0 0% 90%);
    --hl: hsl(267 33% 20%);
    background-color: var(--bg);
    color: var(--fg);
    text-align: center;
}

input[type=range] {
    width: 100%;
}

button {
	padding: 20px;
	margin: 2em 10px;
	border: none;
	color: var(--fg);
	border-radius: 10px;
	background-color: hsl(267 33% 0%);
	font-size: 20px;
}

button:hover {
    background-color: hsl(267 33% 10%);
}
button:active {
    background-color: hsl(267 33% 15%);
}

select {
	padding: 20px;
	margin: 10px;
	border: none;
	color: var(--fg);
	border-radius: 10px;
	background-color: hsl(267 33% 0%);
	font-size: 20px;
}

#module-tweaks {
	max-width: 600px;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#module-tweaks > * {
    margin-top: 2em;
}

#modules {
}
