body {
    --bg: hsl(0 0% 10%);
    --fg: hsl(0 0% 90%);
    --hl: hsl(267 33% 20%);
    background-color: var(--bg);
    color: var(--fg);
}

input[type=range] {
    width: 100%;
}



button {
	padding: 10px;
	margin: 2em 10px;
	border: none;
    color: var(--fg);
    background-color: hsl(267 33% 0%);
}

button:hover {
    background-color: var(--hl);
}
button:active {
    background-color: hsl(267 33% 20%);
}

#module-tweaks {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	text-align: center;
}

#module-tweaks > * {
    margin-top: 2em;
}
